<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<header>
    <h1><%= message %></h1>
    <ul>
        <% people.forEach(person=>{ %>
            <li><%= person %></li>
        <% });%>
    </ul>
</header>
<main>
    <p>This is a basic HTML boilerplate.</p>
</main>
<footer>
    <p>&copy; 2024 Your Name</p>
</footer>
</body>
</html>
